{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

{% assign post_date_string = post.date | default: "" %}
{% if post_date_string contains "-" %}
  {% assign post_date_parts = post_date_string | split: "-" %}
  {% if post_date_parts.size == 2 %}
    {% assign post_date_for_datetime = post_date_string | append: "-01" %}
  {% else %}
    {% assign post_date_for_datetime = post.date | date: "%Y-%m-%d" %}
  {% endif %}
{% else %}
  {% assign post_date_for_datetime = post.date | date: "%Y-%m-%d" %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <h2 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>
    
    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}

        {% if post.collection == 'teaching' %}
          <p> {{ post.type }}, <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
        {% elsif post.collection == 'publications' %}
          <p>Published in <i>{{ post.venue }}</i>, {{ post_date_for_datetime | date: "%Y" }} </p>
        {% elsif post.date %}
          {% if post_date_parts.size == 2 %}
            <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Published:" }}</strong> <time datetime="{{ post_date_for_datetime | date_to_xmlschema }}">{{ post_date_for_datetime | date: "%B %Y" }}</time></p>
          {% else %}
            <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Published:" }}</strong> <time datetime="{{ post.date | default: "1900-01-01" | date_to_xmlschema }}">{{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time></p>
          {% endif %}
        {% endif %}

    {% if post.excerpt and site.read_more != 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
    {% elsif post.excerpt and site.read_more == 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description"><p>{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}<strong><a href="{{ base_path }}{{ post.url }}" rel="permalink"> Read more</a></strong></p></p>
    {% endif %}
    
    {% if post.citation and post.paperurl and post.slidesurl and post.bibtexurl %}
      <p>Recommended citation: {{ post.citation }}<br /><a href="{{ post.paperurl }}">Download Paper</a> | <a href="{{ post.slidesurl }}">Download Slides</a> | <a href="{{ post.bibtexurl }}">Download Bibtex</a></p>
    {% elsif post.citation and post.paperurl and post.slidesurl %}
      <p>Recommended citation: {{ post.citation }}<br /><a href="{{ post.paperurl }}">Download Paper</a> | <a href="{{ post.slidesurl }}">Download Slides</a></p>
    {% elsif post.citation and post.paperurl and post.bibtexurl %}
      <p>Recommended citation: {{ post.citation }}<br /><a href="{{ post.paperurl }}">Download Paper</a> | <a href="{{ post.bibtexurl }}">Download Bibtex</a></p>
    {% elsif post.citation and post.paperurl %}
      <p>Recommended citation: {{ post.citation }}<br /><a href="{{ post.paperurl }}">Download Paper</a></p>
    {% elsif post.citation and post.slidesurl and post.bibtexurl %}
      <p>Recommended citation: {{ post.citation }}<br /><a href="{{ post.slidesurl }}">Download Slides</a> | <a href="{{ post.bibtexurl}}">Download Bibtex</a></p>
    {% elsif post.citation and post.slidesurl %}
      <p>Recommended citation: {{ post.citation }}<br /><a href="{{ post.slidesurl }}">Download Slides</a></p>
    {% elsif post.citation and post.bibtexurl %}
      <p>Recommended citation: {{ post.citation }}<br /><a href="{{ post.bibtexurl }}">Download Bibtex</a></p>
    {% elsif post.citation %}
      <p>Recommended citation: {{ post.citation }}</p>
    {% elsif post.paperurl and post.bibtexurl %}
      <p><a href="{{ post.paperurl }}">Download Paper</a> | <a href="{{ post.bibtexurl }}">Download Bibtex</a></p>
    {% elsif post.paperurl %}
      <p><a href="{{ post.paperurl }}">Download Paper</a></p>
    {% elsif post.slidesurl and post.bibtexurl %}
      <p><a href="{{ post.slidesurl }}">Download Slides</a> | <a href="{{ post.bibtexurl }}">Download Bibtex</a></p>
    {% elsif post.slidesurl %}
      <p><a href="{{ post.slidesurl }}">Download Slides</a></p>
    {% elsif post.bibtexurl %}
      <p><a href="{{ post.bibtexurl }}">Download Bibtex</a></p>
    {% endif %}

    {% if post.citation %}
      {% assign doi = post.doi | default: post.DOI %}
      {% assign ssci = post.ssci | default: post.SSCI %}
      {% assign kci = post.kci | default: post.KCI %}
      {% assign scopus = post.scopus | default: post.SCOPUS %}
      {% assign dbpia = post.dbpia | default: post.DBpia %}
      {% assign kiss = post.kiss | default: post.KISS %}
      
      {% if doi or ssci or kci or scopus or dbpia or kiss %}
        <p style="font-size: smaller">
          {% if doi %}<a href="{{ doi }}" target="_blank">DOI</a>{% endif %}
          {% if doi and ssci %} | {% endif %}
          {% if ssci %}<a href="{{ ssci }}" target="_blank">SSCI</a>{% endif %}
          {% if ssci and kci %} | {% endif %}
          {% if kci %}<a href="{{ kci }}" target="_blank">KCI</a>{% endif %}
          {% if kci and scopus %} | {% endif %}
          {% if scopus %}<a href="{{ scopus }}" target="_blank">SCOPUS</a>{% endif %}
          {% if scopus and dbpia %} | {% endif %}
          {% if dbpia %}<a href="{{ dbpia }}" target="_blank">DBpia</a>{% endif %}
          {% if dbpia and kiss %} | {% endif %}
          {% if kiss %}<a href="{{ kiss }}" target="_blank">KISS</a>{% endif %}
        </p>
      {% endif %}
    {% endif %}

  </article>
</div>
