{% include base_path %}
{% assign author = site.author %}

<div itemscope itemtype="https://schema.org/Person">
  <div class="author__avatar">
    <img src="{{ author.avatar | prepend: '/images/' | prepend: base_path }}"
         alt="{{ author.name }}"
         fetchpriority="high">
  </div>

  <div class="author__content">
    <h3 class="author__name">{{ author.name }}</h3>
    <p class="author__bio">{{ author.bio }}</p>
  </div>

  <div class="author__urls-wrapper">
    <button class="btn btn--inverse" aria-expanded="false">{{ site.data.ui-text[site.locale].follow_label | default: "Follow" }}</button>
    <ul class="author__urls social-icons">
      <li class="author__desktop"><i class="fas fa-fw fa-location-dot icon-pad-right" aria-hidden="true"></i>{{ author.location }}</li>
      <li class="author__desktop"><i class="fas fa-fw fa-building-columns icon-pad-right" aria-hidden="true"></i>{{ author.employer }}</li>
      <li><a href="mailto:{{ author.email }}"><i class="fas fa-fw fa-envelope icon-pad-right" aria-hidden="true"></i>{{ site.data.ui-text[site.locale].email_label | default: "Email" }}</a></li>
      <li><a href="{{ author.googlescholar }}"><i class="ai ai-google-scholar ai-fw icon-pad-right" aria-hidden="true"></i>Google Scholar</a></li>
      <li><a href="{{ author.orcid }}"><i class="ai ai-orcid ai-fw icon-pad-right" aria-hidden="true"></i>ORCID</a></li>
      <li><a href="{{ author.semantic }}"><i class="ai ai-semantic-scholar ai-fw icon-pad-right" aria-hidden="true"></i>Semantic Scholar</a></li>
      <li><a href="{{ author.publons }}"><i class="ai ai-publons ai-fw icon-pad-right" aria-hidden="true"></i>Web of Science</a></li>
      <li><a href="{{ author.scopus }}"><i class="ai ai-scopus ai-fw icon-pad-right" aria-hidden="true"></i>Scopus</a></li>
      <li><a href="{{ author.researchgate }}"><i class="fab fa-fw fa-researchgate icon-pad-right" aria-hidden="true"></i>ResearchGate</a></li>
    </ul>
  </div>
</div>
