/* ==========================================================================
   SHARED THEME SETTINGS
   ========================================================================== */

/* ==========================================================================
   TYPOGRAPHY
   ========================================================================== */

/* System typefaces */
$serif                      : Georgia, Times, serif;
$sans-serif                 : -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
$monospace                  : Monaco, Consolas, "Lucida Console", monospace;

$sans-serif-narrow          : $sans-serif;

/* Type scale */
$type-size-3                : 1.563em;  // ~25.008px
$type-size-4                : 1.25em;   // ~20px
$type-size-5                : 1em;      // ~16px
$type-size-6                : 0.75em;   // ~12px
$type-size-7                : 0.6875em; // ~11px

$global-font-family         : $sans-serif;
$header-font-family         : $sans-serif;
$caption-font-family        : $serif;

/* ==========================================================================
   Breakpoints
   ========================================================================== */

@include breakpoint-set("to ems", true);

$small                      : 600px !default;
$medium                     : 768px !default;
$large                      : 925px !default;
$x-large                    : 1280px !default;

/* ==========================================================================
   Grid
   ========================================================================== */

$susy: (
    columns: 12,
    column-width: 120px,
    gutters: 1/4,
    math: fluid,
    output: float,
    gutter-position: after,
    container: $large,
    global-box-sizing: border-box,
);

/* Shared component settings */
$warning-color              : #f89406;
$border-radius              : 4px;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125);
$global-transition          : all 0.2s ease-in-out;
$masthead-height            : 70px;
$navicon-width              : 28px;
$navicon-height             : 4px;
$sidebar-link-max-width     : 250px;
$sidebar-screen-min-width   : 1024px;

/* ==========================================================================
   BRAND COLORS
   ========================================================================== */

$bluesky-color              : #1184fe;
$facebook-color             : #3b5998;
$linkedin-color             : #007bb6;
$mastodon-color             : #6364ff;
$orcid-color                : #a6ce39;
$twitter-color              : #55acee;
