/* Utilities used by the current layouts and content. */

.hidden {
  display: none;
  visibility: hidden;
}

.wordwrap {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.icon-pad-right {
  padding-right: 0.5em;
  margin-right: 0.5em;
}

.social-icons .ai-orcid,
.social-icons .ai-orcid-square {
  color: $orcid-color;
}

.navicon {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: $navicon-width;
  height: $navicon-height;
  margin: auto;
  background: var(--global-masthead-link-color);
  transition: 0.3s;

  &:before,
  &:after {
    content: "";
    position: absolute;
    left: 0;
    width: $navicon-width;
    height: $navicon-height;
    background: var(--global-masthead-link-color);
    transition: 0.3s;
  }

  &:before {
    top: (-2 * $navicon-height);
  }

  &:after {
    bottom: (-2 * $navicon-height);
  }
}

.close .navicon {
  background: transparent;

  &:before,
  &:after {
    top: 0;
    width: $navicon-width;
    transform-origin: 50% 50%;
  }

  &:before {
    transform: rotate3d(0, 0, 1, 45deg);
  }

  &:after {
    transform: rotate3d(0, 0, 1, -45deg);
  }
}

.sticky {
  @include breakpoint($large) {
    @include clearfix();
    position: sticky;
    top: 2em;

    > * {
      display: block;
    }
  }
}
